/*
   Author: Sabrina Sadeghi
   Date:   1/28/2019 
   Filename: SabrinaSadeghi.css

*/


/* Heading Styles */
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.5em;
	text-align: center;
}
/* Image Styles */
img {
	float: left;
	padding-right: 10px;
}

p.clear { 
	clear:both;
}

