	body, h1, h2, h3, p, img, ul, li{
		border:0; margin:0; padding:0;
	}
		/*the above is a very basic reset rule.  Every browser has a slightly different default for HTML tags.  By using this simple CSS reset, all the more glaring styles 
		are reset and can now be set to whatever properties that would suit your website best. */

	h3 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	* {
		box-sizing: border-box;
	}

	body {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		margin: 0;
		font-family: Arial, Helvetica, sans-serif; /* the font family for all text on the web page is now either arial, helvetica or a sans-serif font if those two are not available */
		font-size: 13px; /* all normal text on the web page has a base font size of 14px now */
	}

	p {
		letter-spacing: .04em; /* letter spacing sets the horizontal spacing (kerning) between letters in a block of text. */
		line-height: 21px; /* line height sets the vertical spacing between lines of text. */
	}

	div#header {
		background-color: #333; /* a more specific way to set a background color */
		background-image: url(images/headerbkgd.png); /* sets a background image in the header and the position it should sit */
		background-repeat: no-repeat; /* sets a background image to repeat, repeat-x, repeat-y or not at all as written in this rule */
		background-position: left bottom; /* sets a background image position */
		color: #fff; /* sets the the color of all header text to white */
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px; /* these 6 lines of border-radius code make rounded corners for the bottom work in firefox, safari, chrome, opera and IE9 */
		margin: 0 auto; /* by declaring a width on any block element (like a div), giving it a css property of margin:0 auto will center that block element on page */
		min-height: 130px; /* setting a minimum height of an element means that it can grow to be bigger, if there is a lot of content in it. However, if it doesn't have enough content, it will be at the very least (in this example) 130 pixels tall */
		padding: 30px;
		width: 100%;
	}

	ul.navigation {
		list-style: none; /* this removes the bullets from list elements */
	}

	ul.navigation li {
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
		display: inline-block; /* an inline block element can have width and height applied to it / and if not, they only take up as much space as the content within allows */
		margin: 20px 3px 5px; /* this code adds a 3px margin to the left and right of the list elements, and 5px to the bottom of the list elements */
	}

	ul.navigation li a {
		background: #4a4a4a; /* this is a dark grey background for the link */
		color: #fff; /* this makes the link text white */
		-moz-border-radius: 2px;
		webkit-border-radius: 2px;
		border-radius: 2px; /* these 3 lines of border-radius code make rounded corners work in firefox, safari, chrome, opera and IE9 */
		border: 1px solid #595959; /* this adds a light grey solid border of 1px width around the link */
		padding: 3px 10px; /* as the name implies, this adds extra padding around the link, so that the borders don't bump up against the link text */
		text-decoration: none; /* this removes the normal underline that links usually have */
	}

	ul.navigation li a:hover {
		background-color: #000; /*this is a hover pseudo class.  By designating a different background color, than the class for the a tag above, when a mouse hovers over these particular links, in the navigation bar, the background color will change to what's defined here */
	}


	div.content {
		display: flex;
		flex: 1;
	}

	div.content > .col-right {
		padding: 10px;
		flex: 8;
	}

	div.content > .sidebar-left {
		flex: 1 1 200px;
		background: beige;
		padding: 10px;
	}

	div.content > .sidebar-left {
		order: -1;
	}

	div.content > .sidebar-left p {
		margin-top: 10px;
	}

	div.content > .sidebar-left a:hover {
		text-decoration: none;
	}
	
	.list {
		border-bottom: 1px solid #c3dce1; /* adds a border to the bottom of the list to further divide the content for eaier segragation */
		padding: 0 0 20px 15px; /* adds spacing to the bottom of the list to further divide the content for eaier segragation */
	}
	.list li {
		margin-top: 10px;
		margin-bottom: 10px
	}
	.list li a {
		font-weight: bold; /* this makes all anchor classes with .list bold without using <strong>  */
		text-transform: uppercase; /* this makes all anchor classes with .list uppercase  */
		font-size: 11px; /* this makes all anchor classes with .list applied 11px tall  */
	}
	
	div#footer {
		background-color: #c4d5d9;
		margin: 0 auto;
		padding: 15px;
		text-align: center;
		width: 100%;
		padding: 20px;
		animation-name: footerColor;
		animation-duration: 4s;	
		animation-iteration-count: infinite;
	}		

	@keyframes footerColor {
		from {background-color: red;}
		to {background-color: yellow;}
	
	.float-left{
		float:left;	/* use this on an element (like an image) to make it float to the left of it's containing HTML element */
		margin:0  10px 10px 0;
	}
	.float-right{
		float:right;	/* use this on an element (like an image) to make it float to the right of it's containing HTML element */
	}
	.float-right img{
		margin:0 0 10px 10px;	/* use this on an element (like an image) to make it float to the right of it's containing HTML element */
	}
	.clear{
		clear:both; /* this clears floats.  This would be used to cancel out a float's behavior on content below it.  */
	}
